*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}


.header
{
    position: fixed;
    width: 100%;
    padding: 30px;
    background: black;
    z-index: 1000px;
    transition: 0.5s;
}


.nav a
{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    padding: 20px;
    left: 65%;
}

.main-text h1
{
    font-size: 6em  ;
}

.nav a:first-child
{
    position: inherit;
    left: 2%;
    color: #7bb1ff;
    font-size: 32px;
}

.nav a:first-child:hover
{
    border: none;
    background: none;
    opacity: 1;
}

.nav a:hover
{
    background-color: #ffffff;
    opacity: 0.5;
    color: #415776;
    border-radius: 20px;
    width: 10PX;
}

.s-1
{
    background-color: antiquewhite;
    width: 100%;
    height: 1200px;
}

.s-2
{
    background-color: black;
    width: 100%;
    height: 1200px;
}


.s-3
{
    background-color: yellowgreen;
    width: 100%;
    height: 1200px;
}

.s-4
{
    background-color: violet;
    width: 100%;
    height: 1200px;
}

.s-5
{
    background-color: blue;
    width: 100%;
    height: 950px;
}

.s-5 >.footer
{
    position: inherit;
    background-color: black;
    width: 100%;
}

.side-menu
{
    cursor: pointer;
    display: none  ;

}

.aside
{
    position: relative;
    background: red;  
}

.header:hover + .aside

{
    display: block;
}

@media (max-width:768px)
{
    .header
    {
        padding: 20px;
    }
    
    .nav a
    {
       display: none;
    }

    .nav a:first-child
    {
        display: block;
        position: absolute;
        font-size: 40px;
        margin-top: -35px;
        margin-left: -30px;
        font-size: 20px;
        font-weight: 700;
        float: left;
    }

    .side-menu
    {
        position: relative;
        display: block;
        transform: translateX(90%);
        top: 0.5%;
    }
}